table {
    table-layout: fixed;
    border-collapse: collapse;
}
th,
td {
    border: 2mm solid #fa1900;
    height: 4cm;
    font-family: eurostile;
    font-size: 18px;
    text-align: center;
    width: 4cm;
    padding: 2mm;
}

th {
    background: #fa1900;
    font-size: 112px;
    color: white;
    font-family: street-cred;
    font-weight: normal;
}

p {
    display: block;
    font-family: eurostile;
    text-align: right;
    font-size: 10px;
}

.round-2 td,
.round-2 th {
    border-color: #05c227;
}

.round-2 th {
    background: #05c227;
}
